<!--src/sales/templates/sales/home.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/styles.css">
    <script src="{% static 'sales/home.js' %}" defer></script>
    <title> Bookstore Home</title>
</head>

<body>
    <h1>Welcome to our Bookstore</h1>
    <br>
    <br>
    <a href="{%url 'login' %}" class="login_button"> Login </a>
    <br>
    <br>
    <img src="{% static 'sales/images/bookstore.jpg' %}" alt="home" width="600" height="300">
</body>

</html>